html,
body {
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
    margin: 0 auto;
    font-family: 'Playfair Display SC', serif;
}

body {
    margin: 0 auto;
}

header {
    color margin: 0 auto;
}

h1 {
    font-weight: 400;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
}

h2 {
    font-weight: 400;
    font-size: 22px;
    text-align: right;
    margin: 0 auto;
    padding-right: 5px;
    padding-bottom: 5px;
}

h3 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    margin: 0 auto;
    padding-right: 5px;
    padding-bottom: 5px;
    font-size: 16px;
}

#sansText {
    transition: all .25s;
}

#sansText:hover {
    color: orange;
    transition-timing-function: linear;
}

#sSerifText {
    transition: all .25s;
}

#sSerifText:hover {
    border-bottom: solid 2px orange;
    transition-timing-function: linear;
    padding-bottom: 2px;
}

#nav p {
    color: orange;
    padding-right: 5px;
}
a {
    text-decoration: none;
    color: black;
}

#container {
    margin: 0 auto;

}

#contentContainer {
    width: 65%;
    height: auto;
    float: left;
    margin: 0 auto;
    text-align: center;
}

.card {
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}

.card img {
    width: 95%;
    height: 100%;
    max-width: 500px;
}

#nav {
    width: 30%;
    float: right;
    text-align: right;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    right: 5px;
}

#nav img {
    margin: 0 auto;
    padding: 0px;
}

footer {
    clear: both;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
}


@media only screen and (min-width: 600px) {
    
    .card {
        display: inline-block;
        width: 47%;
    }
    
    .card img {
        width: 100%;
    }

    #nav img {
        padding-right: 25px;
        max-width: 450px;        
    }

    h1 {
        font-size: 3.0em;
    }

    h3 {
        font-size: 1.5em;
        padding-right: 25px;
    }

    h2 {
        font-size: 2.0em;
        padding-right: 25px;
    }
    
    #nav p {
        padding-right: 25px;
    }
}

@media only screen and (min-width: 1224px) {
    
    #contentContainer {
        width: 75%;
    }
    
    #nav {
        width : 20%;
    }
    .card {
        min-width: 400px;
    }
    
}
    
@media only screen and (min-width: 1824px) {
    #nav {
        width: 10%;
    }
    
    #contentContainer {
        width : 85%;
    }
    
    .card {
        width: 32%;
    }
}